.petals-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
    transition: opacity 1s ease;
}

.petals-container.petals-hidden {
    opacity: 0;
    pointer-events: none;
}

.petal {
    position: absolute;
    top: -60px;
    border-radius: 150% 0 150% 0;
    opacity: 0;
    animation: petalFall linear infinite,
        petalSway ease-in-out infinite;
}

@keyframes petalFall {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(0deg);
    }

    5% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.6;
    }

    85% {
        opacity: 0.4;
    }

    100% {
        opacity: 0;
        transform: translateY(105vh) rotate(720deg);
    }
}

@keyframes petalSway {

    0%,
    100% {
        margin-left: 0px;
    }

    25% {
        margin-left: 50px;
    }

    50% {
        margin-left: -30px;
    }

    75% {
        margin-left: 40px;
    }
}